Package: love.litten.appareilphoto
Name: Appareil Photo
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: New camera layout for older phones
Maintainer: waruhachi
Author: alexandra
Section: Tweaks
