[submodule "NoLSPowerDown"]
	path = NoLSPowerDown
	url = https://github.com/waruhachi/nolspowerdown.git
[submodule "Crystal-ObjC"]
	path = Crystal-ObjC
	url = https://github.com/waruhachi/Crystal.git
[submodule "Kayoko"]
	path = Kayoko
	url = https://github.com/waruhachi/Kayoko.git
[submodule "Ve"]
	path = Ve
	url = https://github.com/waruhachi/Ve.git
[submodule "HATE-ObjC"]
	path = HATE-ObjC
	url = https://github.com/waruhachi/HATE.git
[submodule "CozyBadges"]
	path = CozyBadges
	url = https://github.com/waruhachi/CozyBadges.git
[submodule "QuickPrefs"]
	path = QuickPrefs
	url = https://github.com/waruhachi/QuickPrefs.git
[submodule "BatteryBuddy"]
	path = BatteryBuddy
	url = https://github.com/waruhachi/BatteryBuddy.git
[submodule "MagmaEvo"]
	path = MagmaEvo
	url = https://github.com/waruhachi/MagmaEvo.git
[submodule "BetterAlarm"]
	path = BetterAlarm
	url = https://github.com/waruhachi/BetterAlarm.git
