[submodule "NoLSPowerDown"]
	path = NoLSPowerDown
	url = https://github.com/waruhachi/nolspowerdown.git
[submodule "Crystal-ObjC"]
	path = Crystal-ObjC
	url = https://github.com/waruhachi/Crystal.git
[submodule "Kayoko"]
	path = Kayoko
	url = https://github.com/waruhachi/Kayoko.git
[submodule "Ve"]
	path = Ve
	url = https://github.com/waruhachi/Ve.git
[submodule "HATE-ObjC"]
	path = HATE-ObjC
	url = https://github.com/waruhachi/HATE.git
[submodule "CozyBadges"]
	path = CozyBadges
	url = https://github.com/waruhachi/CozyBadges.git
[submodule "QuickPrefs"]
	path = QuickPrefs
	url = https://github.com/waruhachi/QuickPrefs.git
[submodule "BatteryBuddy"]
	path = BatteryBuddy
	url = https://github.com/waruhachi/BatteryBuddy.git
[submodule "MagmaEvo"]
	path = MagmaEvo
	url = https://github.com/waruhachi/MagmaEvo.git
[submodule "BetterAlarm"]
	path = BetterAlarm
	url = https://github.com/waruhachi/BetterAlarm.git
[submodule "AlbumManager"]
	path = AlbumManager
	url = https://github.com/waruhachi/AlbumManager.git
[submodule "Velvet2"]
	path = Velvet2
	url = https://github.com/waruhachi/Velvet2.git
[submodule "Eneko"]
	path = Eneko
	url = https://github.com/waruhachi/Eneko.git
[submodule "Liddell"]
	path = Liddell
	url = https://github.com/waruhachi/Liddell.git
[submodule "ShyLabels"]
	path = ShyLabels
	url = https://github.com/waruhachi/ShyLabels.git
[submodule "NotificationFaker"]
	path = NotificationFaker
	url = https://github.com/waruhachi/NotificationFaker.git
[submodule "EasyAirplaneDisabler"]
	path = EasyAirplaneDisabler
	url = https://github.com/waruhachi/EasyAirplaneDisabler.git
[submodule "Diary"]
	path = Diary
	url = https://github.com/waruhachi/Diary.git
[submodule "koi"]
	path = koi
	url = https://github.com/waruhachi/koi.git
[submodule "HiddenPhotosCC"]
	path = HiddenPhotosCC
	url = https://github.com/waruhachi/HiddenPhotosCC.git
[submodule "PanCake"]
	path = PanCake
	url = https://github.com/waruhachi/PanCake.git
[submodule "WindowHUD"]
	path = WindowHUD
	url = https://github.com/waruhachi/WindowHUD.git
[submodule "OhMyFlash"]
	path = OhMyFlash
	url = https://github.com/waruhachi/OhMyFlash.git
[submodule "WiFiCarrier"]
	path = WiFiCarrier
	url = https://github.com/waruhachi/WiFiCarrier.git
[submodule "Ballet"]
	path = Ballet
	url = https://github.com/waruhachi/Ballet
[submodule "Avrora"]
	path = Avrora
	url = https://github.com/waruhachi/Avrora.git
[submodule "Dress"]
	path = Dress
	url = https://github.com/waruhachi/Dress.git
[submodule "Deja-Vu"]
	path = Deja-Vu
	url = https://github.com/waruhachi/Deja-Vu.git
[submodule "Lisa"]
	path = Lisa
	url = https://github.com/waruhachi/Lisa.git
[submodule "Lobelias"]
	path = Lobelias
	url = https://github.com/waruhachi/Lobelias.git
[submodule "Puck"]
	path = Puck
	url = https://github.com/waruhachi/Puck.git
[submodule "Violet"]
	path = Violet
	url = https://github.com/waruhachi/Violet.git
[submodule "Yuna"]
	path = Yuna
	url = https://github.com/waruhachi/Yuna.git
