Package: moe.waru.geocracking
Name: GeoCracking
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Unlocks experimental features for Geocaching
Maintainer: waruhachi
Author: waruhachi
Section: Tweaks
