Package: com.brend0n.ccnoisecontrol
Name: CCNoiseControl
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.0.0
Architecture: iphoneos-arm
Description: A Control Center Module to switch NoiseCancellation/Transparency. (Airpods Pro/Max)
Maintainer: waruhachi <156133757+waruhachi@users.noreply.github.com>
Author: Brend0n <brendonjkding@126.com>
Section: Control Center (Modules)
